// variables in order of appearance
// variables in order of appearance
// variables in order of appearance
// variables in order of appearance

//body
$background 	: #F6F6F6

//header
$header-bg		: linear-gradient(-180deg, #D42D1D 0%, #AE2618 100%)
$header-title	: #fff
$header-p		: #fff
$cta-bg			: #FFCF0D
$cta-text		: #000
$cta-border		: #917609

//sections
$subtitle-color	: #D32E27 //h2
$text-color		: #363636 // h3, p

$cta2-bg		: #D32E27
$cta2-title		: #fff

$footer-bg		: #fff
$footer-color	: #363636

//global settings
//global settings
//global settings
//global settings
$border-radius	: 4px // set to 0 zero if you dont want it
$default-font 	: "DINPro", "Roboto", sans-serif
$default-weight : 500
$bold-weight 	: 700

// fonts
@font-face
	font-family: DINPro
	src: url(../fonts/DINPro.otf)
	font-weight: $default-weight
@font-face
	font-family: DINPro
	src: url(../fonts/DINPro-Bold.otf)
	font-weight: $bold-weight