<!DOCTYPE html>
html(lang="pt-br")
head
	include basic_head
body
	#app
		header
			.container
				img(src="resources/img/icon.png", class="icon", alt="ícone claro pet")
				h1 Conteúdo de Alexandre Rossi, o Dr. Pet!
