<!DOCTYPE html>
html(lang="pt-br")
head
	include templates/subscription_head
body
	header
		a(href="index.html") Dicas Pet
		.carrier-logo
	form(name='numero', id='form-numero', action="#springUrl( $subscriptionURL )" method="post", onsubmit='getPhone(event)')
		.hidden
			| #if( $hiddenFieldsMap.entrySet() )
			| #foreach($hiddenField in $hiddenFieldsMap.entrySet())
			input(type="hidden" name="$hiddenField.key" value="$hiddenField.value")
			| #end
			| #end
		p Siga os passos para concluir a sua assinatura do produto.
		.checkbox
			input(type="checkbox", id="checkbox")
			label(for="checkbox") Li e aceito os 
				a(href="termos.html") termos e condições
		input(type="hidden", id="ddd")
		input(type="hidden", id="telefone")
		button.cta Assinar
		p Valor do serviço de R$ 3,99 por semana. Experimente grátis por 3 dias.
	.hidden
		//- analytics
		| #if( $pixel )
		| $pixel
		| #end
		| #if( $analytics )
		| $analytics
		| #end
	script.
		// Check checkbox
		function getPhone(event) {
			var check = document.getElementById('checkbox').checked;
			if (check === true) {
				document.getElementById("form-numero").submit();
			} else {
				event.preventDefault();
				alert("Por favor, concorde com os termos")
				document.getElementById('checkbox').focus();
			}
		}