//- fixed
meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
meta(name="mobile-web-app-capable", content="yes")
meta(name="apple-mobile-web-app-capable", content="yes")
meta(name="apple-mobile-web-app-status-bar-style", content="default")
link(rel="stylesheet", href="resources/css/style_claro.css")

link(rel="shortcut icon", type="image/png", href="resources/img/favicon.png")

//- editable
title Claro Pet

meta(name="description", content="As melhores dicas do maior especialista em comportamento animal no Brasil para pessoas que são apaixonadas por seus bichinhos de estimação.")

meta(name='theme-color', content='#db5945')