<!DOCTYPE html>
html(lang="pt-br")
head
	include templates/basic_head
body#body(onload="load_contraste()")
	#app
		header#inico
			a.jump_link(href="#vantagens") Ir para seção vantagens
			a.contraste(href="javascript:", onclick="contraste()") Ativar contraste
			.container.flex
				div
					h1 {{ page_title }}
					p {{ page_subtitle }}
					a.cta(href="subscription.html") {{ cta1 }}
				img(src="resources/img/header-img.png", alt="cachorro claro pet")
		section.features#vantagens
			a.jump_link(href="#como_funciona") Ir para seção Como funciona
			.container
				h2 {{ sec1_title }}
				.content
					.card
						div
							h3 {{ card1_title }}
							//- img(src="resources/img/img-card1.png", alt="Alexandre Rossi")
							p {{ card1_text }}
						.img
							img(src="resources/img/img-card1.png", alt="Alexandre Rossi")
					.card
						div
							h3 {{ card2_title }}
							p {{ card2_text }}
						.img
							img(src="resources/img/img-card2.png", alt="Cachorro e gatos amigos")
					.card
						div
							h3 {{ card3_title }}
							p {{ card3_text }}
						.img
							img(src="resources/img/img-card3.png", alt="Gato")
					
		section.como#como_funciona
			a.jump_link(href="#assinar") Ir para seção Assinar
			.container
				.content
					div
						h2 {{ sec2_title }}
						p {{ sec2_text }}
						p(m-if="sec2_text2") {{ sec2_text2 }}
					img(m-if="sec2_img", src="resources/img/img-como-funciona.png", alt="exemplo de sms")
		section.cta2#assinar
			a.jump_link(href="#redes") Ir para seção Redes sociais
			.container
				h2 {{ sec3_title }}
				a.cta(href="subscription.html") {{ cta2 }}
		footer#redes
			.container
				.content
					a(href="http://vivo.com.br")
						img(src="resources/img/carrier-logo.png", alt="Vivo")
					span © Copyright {{ year }} - Todos os direitos reservados
					div.social(m-if="social")
						a(m-if="facebook", href="{{ facebook }}")
							img(src="resources/img/fb_icon.png", target="_blank", alt="Facebook")
						a(m-if="twitter", href="{{ twitter }}")
							img(src="resources/img/tw_icon.png", target="_blank", alt="Twitter")
						a(m-if="instagram", href="{{ instagram }}")
							img(src="resources/img/insta_icon.png", target="_blank", alt="Instagram")
						a(m-if="pinterest", href="{{ pinterest }}")
							img(src="resources/img/insta_icon.png", target="_blank", alt="Pinterest")
						a(m-if="linkedin", href="{{ linkedin }}")
							img(src="resources/img/linkedin_icon.png", target="_blank", alt="Linkedin")
					div.app(m-if="app")
						span Baixe: 
						//- div
						a(m-if="app_store", href="{{ app_store }}")
							img(src="resources/img/badge-app-store.png", target="_blank", alt="App Store")
						a(href="{{ play_store }}", m-if="play_store")
							img(src="resources/img/badge-play-store.png", target="_blank", alt="Play Store")
						a(href="{{ windows_store }}", m-if="windows_store")
							img(src="resources/img/badge-windows-store.png", target="_blank", alt="Windows Store")
						a(href="{{ web_store }}", m-if="web_store")
							img(src="resources/img/badge-web-store.png", target="_blank", alt="Web")
	script(src="resources/js/data.js")