<!DOCTYPE html>
html(lang="pt-br")
head
	include templates/subscription_head
body#body(onload="load_contraste()")
	header
		a(href="subscription") TIM Gourmet
		.carrier-logo
	.container.termos
		h1 Termos e condições
		p $termos