//- fixed
meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
meta(name="mobile-web-app-capable", content="yes")
meta(name="apple-mobile-web-app-capable", content="yes")
meta(name="apple-mobile-web-app-status-bar-style", content="default")
link(rel="stylesheet", href="resources/css/style.css")
script(src="resources/js/moon.min.js")

link(rel="shortcut icon", type="image/png", href="resources/img/favicon.png")

//- editable
title Vivo Educa

meta(name="description", content="São 8 completas categorias para você aprender no seu próprio tempo e onde quiser. Instale agora, em seu smartphone e comece aprender hoje mesmo!")

meta(name="keywords", content="educação, vivo educa, vivo educação, cursos online, cursos preparatórios, cursos profissionalizantes")

meta(name="author", content="Movile / Vivo")

meta(name='theme-color', content='#660099')

meta(property="og:site_name", content="Vivo Educa")

//- meta(property="og:url", content="")

meta(property="og:title", content="Vivo Educa")

meta(property="og:description", content="São 8 completas categorias para você aprender no seu próprio tempo e onde quiser. Instale agora, em seu smartphone e comece aprender hoje mesmo!")

meta(property="og:type", content="website")

meta(property="og:image", content="resources/img/img-header.png")

//- meta(name="twitter:site", content="")

//- meta(name="twitter:url", content="")

meta(name="twitter:title", content="Claro Dr. Pet!")

meta(name="twitter:description", content="Mais de 200 cursos online para você!")

meta(name="twitter:card", content="summary")

meta(name="twitter:image", content="resources/img/img-header.png")

script(src="resources/js/contraste.js")