//- fixed
meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
meta(name="mobile-web-app-capable", content="yes")
meta(name="apple-mobile-web-app-capable", content="yes")
meta(name="apple-mobile-web-app-status-bar-style", content="default")
link(rel="stylesheet", href="resources/css/style.css")
script(src="resources/js/moon.min.js")

link(rel="shortcut icon", type="image/png", href="resources/img/favicon.png")

//- editable
title TIM Gourmet

meta(name="description", content="TIM gourmet é um serviço completo para quem quer ter uma experiência gastronômica inesquecível! São receitas e segredos de culinária do renomado chef Claude Troisgros, dicas de restaurantes e eventos gastronômicos imperdíveis que estão próximos a você.")

meta(name="keywords", content="tim, tim gourmet, chef, chef claude, claude troisgros, receitas, app de receitas, app de restaurante, receitas de chef, chef em casa")

meta(name="author", content="Movile / TIM")

meta(name='theme-color', content='#253655')

meta(property="og:site_name", content="TIM Gourmet")

meta(property="og:url", content="http://timgourmet.com.br")

meta(property="og:title", content="TIM Gourmet")

meta(property="og:description", content="TIM gourmet é um serviço completo para quem quer ter uma experiência gastronômica inesquecível! São receitas e segredos de culinária do renomado chef Claude Troisgros, dicas de restaurantes e eventos gastronômicos imperdíveis que estão próximos a você.")

meta(property="og:type", content="website")

meta(property="og:image", content="resources/img/img-header.png")

//- meta(name="twitter:site", content="")

//- meta(name="twitter:url", content="")

meta(name="twitter:title", content="TIM Gourmet")

meta(name="twitter:description", content="TIM gourmet é um serviço completo para quem quer ter uma experiência gastronômica inesquecível! São receitas e segredos de culinária do renomado chef Claude Troisgros, dicas de restaurantes e eventos gastronômicos imperdíveis que estão próximos a você.")

meta(name="twitter:card", content="summary")

meta(name="twitter:image", content="resources/img/img-header.png")

script(src="resources/js/contraste.js")