//- fixed
meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
meta(name="mobile-web-app-capable", content="yes")
meta(name="apple-mobile-web-app-capable", content="yes")
meta(name="apple-mobile-web-app-status-bar-style", content="default")
link(rel="stylesheet", href="resources/css/style.css")
script(src="resources/js/moon.min.js")

link(rel="shortcut icon", type="image/png", href="resources/img/favicon.png")

//- editable
title Claro Pet

meta(name="description", content="As melhores dicas do maior especialista em comportamento animal no Brasil para pessoas que são apaixonadas por seus bichinhos de estimação.")

meta(name="keywords", content="pet, claro pet, dr pet, estopinha, alexandre rossi, doutor pet")

meta(name="author", content="Movile / Claro")

meta(name='theme-color', content='#db5945')

meta(property="og:site_name", content="Dicas Pet")

//- meta(property="og:url", content="")

meta(property="og:title", content="Dicas Pet")

meta(property="og:description", content="As melhores dicas do maior especialista em comportamento animal no Brasil para pessoas que são apaixonadas por seus bichinhos de estimação.")

meta(property="og:type", content="website")

meta(property="og:image", content="resources/img/img-header.png")

//- meta(name="twitter:site", content="")

//- meta(name="twitter:url", content="")

meta(name="twitter:title", content="Claro Dr. Pet!")

meta(name="twitter:description", content="Dicas do Dr. Pet para seu bichinho de estimação!")

meta(name="twitter:card", content="summary")

meta(name="twitter:image", content="resources/img/img-header.png")

script(src="resources/js/contraste.js")